@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
.img__desktop
{
    background-color: var(--clr-Soft-violet);
    background-image:linear-gradient(90deg, rgba(2,0,36,0.8) 0%, rgba(227,123,232,0.7) 1%, rgba(153, 54, 196, 0.9) 100%) , 
    url(../images/image-header-desktop.jpg);
    width: 540px;
    height: 446px;

}



.text-left
{
    color: white;
    width: 540px;
    height: 446px;
    background-color: var(--clr-card);
    line-height: 1.3;  
}

.major_text
{
    text-align: justify;
    font-family: 'Inter', sans-serif;
    padding-top: 70px;
    padding-left: 50px;
    font-size: 2rem;
}
#insights
{
    color: var(--clr-Soft-violet);
}
.describe_text
{
    text-align: justify;
    padding-top: 20px;
    padding-left: 50px;
    font-size: 14px;
    color: var(--clr-Slightly-transparent-white);
}



.numbers_text
{
    font-size: 1.5rem;
    padding-top: 50px;
    padding-left: 50px;
    
}

#num1
{
    padding-left: 20px;
}

#num2
{
    padding-left: 30px;
}

.inside_letters
{
    font-size: 10px;
    padding-left: 50px;
    text-transform: uppercase;
}

#templates
{
    padding-left: 20px;
}

#queries
{
    padding-left: 20px;
}





.attribution
{
    margin: 100px;
    text-align: center;
    font-size: 1.5rem;
}